<div class="cont">
    <div class="heading">
        <span>
            ᲕᲘᲡᲗᲐᲜ ᲒᲡᲣᲠᲡ ᲙᲝᲜᲡᲣᲚᲢᲐᲪᲘᲐ?
        </span>
    </div>
    <div class="rows">
        <div class="row full">
            <app-custom-checkbox [id]="'private_doctor_consultation'" label="პირადი ექიმის კონსულტაცია" [disabled]="false"></app-custom-checkbox>
        </div>
        <div class="row full">
            <app-custom-checkbox [id]="'private_doctor_consultation'" label="სპეციალისტის კონსულტაცია" [disabled]="false"></app-custom-checkbox>
        </div>
        <div class="row full">
            <app-custom-checkbox [id]="'private_doctor_consultation'" label="ინსტრუმენტული კვლევა" [disabled]="false"></app-custom-checkbox>
        </div>
    </div>
</div>