<div class="cont">
    <div class="heading">
        <span>
            ᲐᲘᲠᲩᲘᲔ ᲙᲝᲜᲡᲣᲚᲢᲐᲪᲘᲘᲡ ᲢᲘᲞᲘ
        </span>
    </div>
    <div class="rows">
        <div class="row full">
            <app-custom-radio [id]="'phone_radio'" [withIcon]="true" label="სატელეფონო კონსულტაცია" iconName="phone_call"></app-custom-radio>
        </div>
        <div class="row full">
            <app-custom-radio [id]="'clinic_radio'" [withIcon]="true" label="ვიზიტი კლინიკაში" iconName="clinic_visit"></app-custom-radio>
        </div>
        <div class="row full">
            <app-custom-radio [id]="'video_radio'" [withIcon]="true" label="ვიდეო კონსულტაცია" iconName="video_call"></app-custom-radio>
        </div>
    </div>
</div>