.cont {
    cursor: pointer;
    width: 110px;
    height: 38px;
    border-radius: 8px;
    background-color: #F4F4FE;
    border: 1px solid transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &.selected {
        background-color: #FFF;
        border-color: #ED1C7C;
        color: #ED1C7C;
    }
    .selected_icon {
        position: absolute;
        right: -9px;
        top: -9px;
        width: 18px;
        height: 18px;
        border-radius: 100%;
        background-color: #FFF;
        border: 1px solid #ED1C7C;
        color: #ED1C7C;
        background-image: url('/check_selected.svg');
        background-position: center;
        background-size: 60%;
        background-repeat: no-repeat;
    }
}