<app-header [isMobile]="isMobile"></app-header>


<main class="main">
  <div class="content-item">
    <!-- <app-booking-result class="fullPage" [isMobile]="isMobile"></app-booking-result> -->
     <!-- <app-bookings-list [isMobile]="isMobile"></app-bookings-list> -->

     <app-step-1></app-step-1>
    <!-- 
    <app-stepper [isMobile]="isMobile" [setSteps]="6"></app-stepper>
    <app-custom-checkbox></app-custom-checkbox>
    <app-custom-radio></app-custom-radio>
    <app-custom-dropdown
    [placeholder]="'Select an option'"
    [options]="[
      { value: 'option1', label: 'Option 1' },
      { value: 'option2', label: 'Option 2' },
      { value: 'option3', label: 'Option 3' }
    ]"></app-custom-dropdown>
  </div>
  <div class="calendar-content">
    <div class="content-item">
      <app-calendar-view></app-calendar-view>
    </div>
  </div>
  <div class="content-item">
     @for (specialist of specialists; track $index) {
      <app-specialist-box [isMobile]="isMobile" [specialist]="specialist"></app-specialist-box>
     } -->
  </div>
</main>

<router-outlet />
