.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    span {
        font-family: "Noto Sans Georgian", serif;
        font-size: 16px;
        color: #292562;
    }
    
    .arrow_icon {
        cursor: pointer;
        width: 18px;
        height: 18px;
        background-image: url('/down_arrow.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        color: #292562;
    }
    .burger_menu {
        width: 24px;
        height: 24px;
        background-image: url('/burger_menu.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}